:root{
    --cor-fundo: #e7e4e3;
    --cor-elementos: #ffffff;
    --cor-hover-botao: #d1cecd;
    --cor-texto: #000000;
    --cor-box-shadow: #000000;
    --cor-tamanho-shadow: 2px 2px 2px;
}

html, body{
    font-family: 'Segoe UI', sans-serif;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    background-color:var(--cor-fundo);
    font-size: 1.1em;
}

    body > header, section, footer {
        background-color: var(--cor-elementos);
        padding:  5px 3% 5px 3%;
        margin: 1.5%;
        border-radius: 10px;
        box-sizing: border-box;
        text-align: justify;
        color: var(--cor-texto);
        box-shadow: var(--cor-tamanho-shadow) var(--cor-box-shadow);
    }

    body > header, a, section, footer{
        transition: ease-in-out 700ms;
    }

header{
    text-align: left !important;
    padding: 0 !important;
    position: relative;
}

    header > #PositionFotoAndrey{
        z-index: 10;
        margin: 8% 0 0 2%;
        position: absolute;
    }

    header #FotoAndrey{
        width: 70%;
        transition: ease-in-out 300ms;
    }

    header #Wallpaper{
        border-radius: 10px 10px 0 0;
    }    

    header #InfoHeader {
        padding: 2% 3% 3% 3%;
    }

    header > #InfoHeader > div{
        margin-top: 8px;
    }

    #NomeDestaque{
        margin-top: 40px;
        font-size: 200%;
        font-weight: bold;
    }

    header #AlterarModo{
        cursor: pointer;
        float: right;
        max-width: 40px;
        max-height: 40px;
        transition: ease 300ms !important;
    }

    

nav {
    display: flex;
    margin: 0 1.5% 0 1.5%;
    gap: 1.5%;
}

footer{
    height: 5%;
    text-align: center;
    font-weight: bold;
}

a, a:visited{
        text-decoration: none;
        color: var(--cor-texto);
}

@media only screen and (max-width: 750px){
    header #FotoAndrey{
        width: 60%;
    }
    body {
        font-size: 1em;
    }
    header #AlterarModo{
        max-width: 35px;
        max-height: 35px;
    }
}

@media only screen and (max-width: 650px){
    header #FotoAndrey{
        width: 55%;
    }
    body {
        font-size: 0.9em;
    }
    header #AlterarModo{
        max-width: 30px;
        max-height: 30px;
    }
}

@media only screen and (max-width: 550px){
    header #FotoAndrey{
        width: 45%;
    }
    body {
        font-size: 0.7em;
    }
    header #AlterarModo{
        max-width: 27px;
        max-height: 27px;
    }
}


@media only screen and (max-width: 450px){ 
    header #FotoAndrey{
        width: 36%;
    }
    body {
        font-size: 0.8em;
    }
    header #AlterarModo{
        max-width: 25px;
        max-height: 25px;
    }
}

/*Aplica o hover apenas a dispositivos com capacidade ao hover*/
@media (hover: hover){

    header #AlterarModo:hover{
        max-width: 40px;
        max-height: 40px; 
        transition: ease 300ms !important;
    }

    #MenuVoltar > a:hover{
        width: 33%;
    }

    .Botao:hover{
        background-color: var(--cor-hover-botao);
        transition: ease-in-out 400ms !important;
        width: 130%;
    }
}

.Botao{
    display: flex;
    background-color: var(--cor-elementos);
    width: 120%;
    height: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out 400ms !important;
    box-shadow: var(--cor-tamanho-shadow) var(--cor-box-shadow);
}

#MenuVoltar{
    display: flex;
    justify-content: center;
    align-items: center;
}

    #MenuVoltar > a{
        width: 30%;
    }

#Wallpaper{
    width: 100% 
}